/*orange: e67e22 */


/*******************/
/*  basic set up   */
/*******************/
@font-face {
	font-family:'roboto';
	src:url(Roboto-Regular.ttf) format('truetype');
	font-weight:400;
	font-style:normal
}
@font-face{
	font-family:'roboto';
	src:url(Roboto-Light.ttf) format('truetype');
	font-weight:300;
	font-style:normal
}

html,
body,
head {	
	color:#444;
	background-color:#fcfcfc;
	font-family:'roboto',sans-serif;
	font-size: 13px;
	min-width: 300px;
}

nav {
	position: fixed;
	padding-left: 20px;	
	font-size: 250%;
	width: 100%;
	height: 125px;
	line-height: 80px;
	border-bottom: 1px solid #aaa;		
}

.main-menu .ion-ios-arrow-down {
	position: fixed;
	left: 115px;
	top: 2px;
}

.desktop-only {
	display: none;
}

.mobile-tablet-only {
	display: inline-block;
}

.config {	
	position: fixed;
	top: 50px;
	left: 0px;
	width: 300px;
	font-size: 12px;
}
.config-icon {
		display: none;
	}
.config ul {
	padding-left: 20px;
	
}
.config ul li {
		display: inline-block;
		border: 1px solid #ccc;	
		border-radius: 5px;
		margin-left: 0px;
		margin-right: 15px;		
		line-height: 30px;
		padding: 0 10px;
}
#account-mobile {
	position: fixed;
	left: 0;
	top: 70px;
	line-height: 40px;
	width: 100%;
	background-color: #fcfcfc;
	display: none;	
}
#account-mobile ul {
	margin: 0px 15px;
	padding: 10px 0;
	list-style-type: none;	
	border-top: 1px solid #ccc;	
	border-bottom: 1px solid #ccc;	
}
#account-mobile ul li {
	padding: 0 20px;
	text-align: left;
}
.account-text {
	font-size: 15px;
	vertical-align: middle;
}
#account-desktop {
	position: fixed;
		
		top: 10px;		
		left: auto;
		right: 0px;
		line-height: 60px;
		width: 260px;
		background-color: transparent;
		display: none;
	}
	#account-desktop ul {
			margin: 0px 15px;
	padding: 10px 0;
	list-style-type: none;	

	}
	#account-desktop ul li {
		display: inline-block;
		float: right;
		padding: 0 14px;
	}

a:hover,
a:link,
a:visited,
a:active {
	text-decoration: none;
	color: inherit;
}
